.wrap {
    float: right;
    position: absolute 130px 100px * *;
    size: 160px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    background: #94c82c inline('./assets/cart.svg') center no-repeat;
    background-size: 50px;
    transition: background 0.1s;

    &:hover {
        background: #85b327 inline('./assets/cart.svg') center no-repeat;
        background-size: 50px;
        }

    }

.counter {
    -webkit-user-select: none;
    -khtml-user-select: none;
    color: #fff #30353c;
    position: absolute -5px -5px * *;
    size: 50px;
    text-align: center;
    border-radius: 50%;
    font: 16px/50px Helvetica, sans-serif;
    }

