{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 4, {
      "SwitchCase": 1
    }],
    "new-cap": [2, {"capIsNewExceptions": ["Map", "List"]}]
  }
}
