.wrap {
    width: 1170px;
    margin: auto;
    }

.list {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    padding: 30px -30px -30px *;
    }

.card {
    position: relative;
    vertical-align: top;
    list-style: none;
    display: inline-block;
    width: 260px;
    min-height: 360px;
    margin: * 30px 30px *;
    background: #f8f8f8;
    box-shadow: 0 0 20px -9px #7f7f7f;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 0 20px -5px #7f7f7f;

        & .photo{
            background-size: 275px;
            }

        & .name {
            color: #85b327;
            }

        }
    }

.photo {
    size: 260px;
    background: #fff inline('./assets/1.jpg') center no-repeat;
    background-size: 258px;
    transition: background-size 0.3s;
    }

.info {
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    }

.sum {
    padding: 0;
    display: block;
    vertical-align: middle;
    color: #94c82c;
    font: 25px/30px Helvetica, sans-serif;
    margin: 0 35px 0 0;
    }

.rubl {
    font-family: Rubl;
    }

.name {
    margin: 0 0 20px;
    color: #30353c;
    text-transform: uppercase;
    transition: color 0.3s;
    }

.minus, .plus {
    vertical-align: middle;
    display: inline-block;
    size: 50px;
    color: #fff #94c82c;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transform: rotate(0deg);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    font: 32px/45px Helvetica, sans-serif;

    &:hover {
        background: #85b327;
        transform: scale(1.2);
        }

    &:active {
        transform: scale(1.2);
        transform: rotate(180deg);
        transition: transform 0.1s;
        }
    }

.minus {
    margin-right: 15px;
    }

.control {
    position: absolute * 16px 18px *;
    }
