.wrap {
    width: 1170px;
    margin: auto;
    padding-top: 30px;
    }

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    }
