.wrap {
    width: 100%;
    overflow: hidden;
    min-width: 1170px;
    margin: auto;
    }

.list {
    margin: auto;
    padding: 0;
    width: 90%;
    margin-right: -30px;
    }

.card {
    position: relative;
    vertical-align: top;
    list-style: none;
    display: inline-block;
    margin: 0 30px 30px *;
    width: 260px;
    min-height: 360px;
    background: #f8f8f8;
    box-shadow: 0 0 20px -9px #7f7f7f;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 0 20px -5px #7f7f7f;

        & .photo{
            background-size: 275px;
            }

        & .name {
            color: #85b327;
            }

        }
    }

.photo {
    size: 260px;
    background-size: 258px;
    transition: background-size 0.3s;
    }

.info {
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    }

.sum {
    -webkit-user-select: none;
    -khtml-user-select: none;
    padding: 0;
    display: block;
    vertical-align: middle;
    color: #94c82c;
    font: 25px/30px Helvetica, sans-serif;
    margin: 0 35px 0 0;
    }

.rubl {
    -webkit-user-select: none;
    -khtml-user-select: none;
    font-family: Rubl;
    }

.name {
    -webkit-user-select: none;
    -khtml-user-select: none;
    margin: 0 0 20px;
    color: #30353c;
    text-transform: uppercase;
    transition: color 0.3s;
    }

.minus, .plus {
    -webkit-user-select: none;
    -khtml-user-select: none;
    vertical-align: middle;
    display: inline-block;
    size: 50px;
    color: #fff #94c82c;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transform: rotate(0deg);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    font: 32px/45px Helvetica, sans-serif;

    &:hover {
        background: #85b327;
        transform: scale(1.2);
        }

    &:active {
        transform: scale(1.2);
        transform: rotate(180deg);
        transition: transform 0.1s;
        }
    }

.minus {
    margin-right: 15px;
    }

.control {
    position: absolute * 16px 18px *;
    }

.more {
    text-align: center;
    }

.moreLink {
    -webkit-user-select: none;
    -khtml-user-select: none;
    display: inline-block;
    height: 65px;
    min-width: 600px;
    border: solid 1px #94c82c;
    border-radius: 33px;
    padding: 0 10px;
    font: 32px/65px Helvetica, sans-serif;
    color: #94c82c;
    text-decoration: none;
    transition: all 0.3s;
    margin-bottom: 50px;

    &:hover {
        color: #85b327;
        border-color: #85b327;
        }

    &:active {
        font-size: 30px;
        }
    }

.coll_text {
    -webkit-user-select: none;
    -khtml-user-select: none;
    font: 14px/15px Helvetica, sans-serif;
    }