
h1, h2, h3, h4, h5
  font-weight 100

.text-wrapper
  padding 40px 0

section.section-wrapper
  height 80vh
  padding 94px 0

section#features
  padding 94px 0

section#about
  padding 20px 0

section#buy
  height 80vh
  padding 80px 0

section p.flow-text
  font-weight 100

section h6
  margin-bottom 30px

.theme-text-primary-color
  color #03A9F4
.dark-primary-color
  background #0288D1
.default-primary-color
  background #03A9F4
.light-primary-color
  background #B3E5FC
.text-primary-color
  color #FFFFFF
.accent-color
  background #CDDC39
.accent-text-color
  color #CDDC39
.primary-text-color
  color #212121
.secondary-text-color
  color: #727272
.divider-color
  border-color #B6B6B6
